# Environment files
.env
*.env
!.env.example

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# .NET / Backend
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rust / Tauri
src-tauri/target/
target/

# IDEs
.vs/
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.DS_Store
